[package]
cairo-version = "2.1.1"
name = "beer_barron"
version = "0.1.0"

[cairo]
sierra-replace-ids = true

[dependencies]
dojo = { git = "https://github.com/dojoengine/dojo" }
dojo_defi = { git = "https://github.com/dojoengine/dojo" }
cubit = { git = "https://github.com/ametel01/cubit.git" }

[[target.dojo]]

[tool.dojo]
initializer_class_hash = "0xbeef"

[tool.dojo.env]
rpc_url = "http://localhost:5050/"
# Default account for katana with seed = 0
account_address = "0x3ee9e18edc71a6df30ac3aca2e0b02a198fbce19b7480a63a0d71cbd76652e0"
private_key = "0x300001800000000300000180000000000030000000000003006001800006600"
# world_address = "0x71791942f0b8fce40267953985440a5f73f7fee993d17b42b0088863bdfbcd2"

# Madara testnet
# rpc_url = "https://api.cartridge.gg/x/shinai/madara"
# account_address = "0x2"
# private_key = "0xc1cf1490de1352865301bb8705143f3ef938f97fdf892f1090dcb5ac7bcd1d"
